
  <h2><%= @user.name %> さんのマイページ</h2>

  <table class="table">
  <thead>
    <tr><th>自己紹介</th></tr>
  </thead>
  <tbody>
    <tr><td><%= @user.introduction %></td></tr>
  </tbody>
 </table>

<% if @user.id == current_user.id %>
  <p><%= link_to "編集する", users_my_page_edit_path, class: "btn btn-outline-warning"%></p>
<% end %>

<%= month_calendar events: @blogs do |date, blogs| %>
  <%= date.day %>

  <% blogs.each do |blog| %>
    <div>
      <%= link_to blog.title, blog %>
    </div>
  <% end %>
 <% end %>
 <%= link_to '新規投稿', new_blog_path, class: "btn btn-lg btn-block btn-outline-success" %>
   <% @blogs.each do |blog| %>
    <div class="card bg-light mb-3 shadow">
      <div class = "row no-gutters">
        <div class="col-md-4">
          <%= link_to blog_path(blog) do %>
            <%= attachment_image_tag blog, :image, format: 'jpeg', size: "200x200", fallback: "noimage.jpg" %>
          <% end %>
        </div>
    
        <div class="col-md-8">
          <div class="card-body">
            <h9><%= blog.start_time.strftime("%Y/%m/%d %H:%M") %></h9>
            <h4><%= link_to blog.title, blog_path(blog) %></h4>
            <h7>カテゴリ：<%= blog.genre.name %></h7>
            <h6>投稿者：<%= blog.user.name %></h6>
            <h8>コメント数<%= blog.blog_comments.count %></h8>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <%= paginate @blogs %>