<div class="row">
 <div class="col-md-8">
<i class="fas fa-address-card fa-3x"></i>
   <h2>マイページ</h2>

  <table class="table">
   <tbody>
    <tr>
      <th scope="row"><label>名前</label></th>
      <td><%= @user.name %></td>
    </tr>
    <tr>
      <th scope="row"><label>自己紹介</label></th>
      <td><%= @user.introduction %></td>
    </tr>
    <tr>
      <th scope="row"><label>メールアドレス</label></th>
      <td><%= @user.email %></td>
    </tr>
  </tbody>
 </table>

<% if @user.id == current_user.id %>
  <p><%= link_to "編集する", users_my_page_edit_path, class: "btn btn-outline-warning"%></p>
<% end %>

</div>

</div>

<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>ID</th>
      <th>タイトル</th>
      <th>カテゴリ</th>
    </tr>
  </thead>
  <tbody>
    <% @blogs.each do |blog| %>
      <tr>
        <td><%= blog.id %></td>
        <td><%= link_to blog.title, blog_path(blog) %></td>
        <td><%= blog.genre.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to '新規投稿', new_blog_path %>

<%= month_calendar events: @blogs do |date, blogs| %>
  <%= date.day %>

  <% blogs.each do |blog| %>
    <div>
      <%= link_to blog.title, blog %>
    </div>
  <% end %>
 <% end %>